@import "@/assets/css/common/common";
/deep/.editor{
  width: 100%;
  max-width:670px;
  margin: 0 auto;
  border: none;
  background: unset !important;
  img{
    display: block;
    margin: 0 auto;
  }
  .v-show-content{
    padding: 0 !important;
  }
  @media screen and (max-width:1200px ){

  }
}
/deep/ pre,/deep/ .hljs{
  padding:5px !important;
}
