.myBox{
  margin: 20px auto;
  width: 100%;
  max-width:670px;
  /deep/.editor{
    border: none;
    background: unset !important;
    img{
      display: block;
      margin: 0 auto;
    }
    .v-show-content{
      padding: 0 !important;
    }
    @media screen and (max-width:1200px ){

    }
  }
  /deep/ pre,/deep/ .hljs{
    padding:5px !important;
  }
}

.RadarBox{
  p{
    text-align: center;
  }
  #Radar{
    width: 100%;
    height: 400px;
  }
}
