@import "@/assets/css/common/_handle.scss";
@import "@/assets/css/common/_reset.scss";

*{
  margin: 0;
  padding: 0;
}
html,body{
  @include background_color("background_color");
  @include font_color("text-color");
  width: 100%;
  height: 100%;
  transition: background-color 0.7s;
}

ol, ul {
  @include font_color("text-color");
}
p,p~span{
  @include font_color("text-color");
  line-height: 2;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
  @include font_color("heading-color");
  line-height: 1.5;
}
.container{
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 960px) {
  .el-main{
    padding: 0 10px !important;
  }
}
@media screen and (max-width: 750px) {

}
@media screen and (max-width: 560px) {

}

@media screen and (max-width: 380px) {
  p,p~span{
    font-size: 14px;
  }
}

